# Ignore arquivos de ambiente virtual
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore arquivos de configuração do editor
.vscode/
.idea/

# Ignore arquivos de log
*.log

# Ignore arquivos temporários
*.tmp
*.bak
*.swp
*.swo